parameters:
    level: max

    paths:
        - app
        - bin
        - tests

    cognitive_complexity:
        class: 30
        function: 10

    excludePaths:
        - */Fixture/*
        - */Source/*
